apiVersion: v1
kind: Service
metadata:
    name: spring-service
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: spring
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30007
